.Uuid-div{
    margin-top: 1%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

/* .react-chatbot-kit-user-avatar{
  width: 10%;
  height: 4%;
} */

.react-chatbot-kit-chat-container{
    background-color: #5f5cf875;
    border-radius: 3%;
    height: 400px;
    /* margin-left: 2.5%; */
    margin-top: 5%;
    padding: 5%;
    padding-bottom: 0.5%;
  }
  
  .react-chatbot-kit-chat-bot-message-container{
    display: flex;
    justify-content: flex-start;
  }
  .react-chatbot-kit-chat-bot-avatar{
    display: flex;
    /* margin-right: 0.2%; */
  }
  .react-chatbot-kit-chat-bot-message{
    display: flex;
    margin-left: 0.5%;
    padding: 6px 6px 2px 6px;
    background-color: #7777f1;
    color: white;
    border-radius: 10%;
  }
  
  .react-chatbot-kit-user-chat-message-container{
  display: flex;
  justify-content: flex-end;
  gap: 1%;
  }
  .react-chatbot-kit-user-chat-message{
    display: flex;
    padding: 2%;
    background-color: #ffffff;
    color: #7777f1;
    border-radius: 15%;
  }
  
  .react-chatbot-kit-chat-bot-avatar-letter{
    margin-top: 0;
    margin-right: 8px;
  }

  .react-chatbot-kit-chat-input-form{
    width: 400px;
  }

.react-chatbot-kit-chat-btn-send{
    width: 30px;
    height: 35px;
}
  .react-chatbot-kit-chat-input{
    width: 74%;
    height: 30px;
  }
  